[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
image = "*"
pygetwindow = "*"
pytube3 = "*"
pillow = "*"
requests = "*"
pytube = "*"
selenium = "*"
ctktooltip = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
